.container {
    width: 100vw;
    height: 100vh;
    background-color: #282a36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    user-select: none;
}

.inputs input, .container button {
    border: none;
    outline: none;
    border-radius: 5px;
}

.inputs input {
    padding: 15px;
    font-size: 2rem;
    width: 100%;
    margin: 15px 0px;
}

.container button {
    font-size: 3rem;
    width: 30%;
    padding: 20px;
    background-color: #50fa7b;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    user-select: none;
    transition: all ease 0.2s;

}

.container button:hover {
    filter: opacity(0.8);
}