.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.contentArea {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.newCategory {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-gap: 10px;
}

.newCategory input, .newCategory button {
    border: none;
    outline: none;
    border-radius: 5px;
}

.newCategory input {
    width: 100%;
    font-size: 1.75rem;
    padding: 15px;
}

.newCategory button {
    justify-self: end;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #6272a4;
    color: #fff;
    transition: all ease 0.2s;
}

.newCategory button:hover {
    filter: brightness(0.9);
}

.categoryList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

@media(max-width:500px){
    .contentArea{
        width: 80%;
    }
}
