.container {
    height: 100vh;
    max-height: 100%;
    background-color: #f2f3f5;
    width: calc(100vw - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.contentArea {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10% 0px;
}

.newCategory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newCategory input, .newCategory button {
    font-size: 2rem;
    border: none;
    outline: none;
}

.newCategory input {
    width: 90%;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 15px;
}

.newCategory button {
    border-radius: 10px;
    width: 45px;
    height: 100%;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #6272a4;
    color: #fff;
    transition: all ease 0.2s;
}

.newCategory button:hover {
    filter: opacity(0.9);
}

.categoryList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}