.title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 30px 30px;
    display: block;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

@media(max-width:1200px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:950px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:620px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}