.container {
    overflow-y: auto;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 70px);
    background-color: #f2f3f5;
}

.container>span {
    display: block;
    padding: 20px 10%;
    font-size: 3rem;
    margin-top: 20px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}